@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

.bg-day {
    background-image: url('/public/image/dia.jpg'); /* Ruta a la imagen de fondo de día */
    background-size: cover;
    background-position: center;
  }
  
  .bg-night {
    background-image: url('/public/image/noche.jpg'); /* Ruta a la imagen de fondo de noche */
    background-size: cover;
    background-position: center;
  }
  